<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div th:fragment="header">
		<!-- this is header -->
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" th:href="@{/web/list}"><img
						src="https://www.transglobe.com.tw/img/logo-nav.png" width="250"
						height="100"></a>
				</div>
				<div>
					<form th:action="@{/logout}" class="form-inline" method="post">
						<input type="submit" class="btn btn-outline-primary"
							value="Logout" />
					</form>
				</div>
			</div>
		</nav>
	</div>

</body>
</html>