<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Users</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{/datatables.css}">
<script type="text/javascript" charset="utf8"
	th:src="@{/datatables.js}"></script>
</head>
<body>
	<div th:replace="fragments/header :: header" /></div>
	<div class="container my-2">
		<div class="card">
			<div class="card-body">
				<div th:switch="${employee}" class="container my-5">
					<p class="my-5">
						<a href="/web/post" class="btn btn-primary"><i
							class="fas fa-user-plus ml-2"> Add Employee</i></a>
					</p>
					<form th:object="${employee}" th:action="@{/web/findById}"
						method="get">
						<input name="search" id="search" th:object="${search}"
							type="number" placeholder="search by ID" required="required"></input>
						<button class="btn btn-outline-success" type="submit">Search</button>
						<div th:if="${not #lists.isEmpty(search)}">
							<h2 class="my-5">Employee</h2>
							<table class="table table-striped table-responsive-md">
								<thead>
									<tr>
										<th>ID</th>
										<th>Height</th>
										<th>Weight</th>
										<th>EnglishName</th>
										<th>ChineseName</th>
										<th>Ext</th>
										<th>Email</th>
										<th>BMI</th>
										<th>Edit</th>
										<th>Delete</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="emp:${search}">
										<td th:text="${emp.ID}"></td>
										<td th:text="${emp.height}"></td>
										<td th:text="${emp.weight}"></td>
										<td th:text="${emp.englishName}"></td>
										<td th:text="${emp.chineseName}"></td>
										<td th:text="${emp.Ext}"></td>
										<td th:text="${emp.Email}"></td>
										<td th:text="${emp.BMI}"></td>
										<td><a th:href="@{/web/edit/{id}(id=${emp.ID})}"
											class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
										<td><a th:href="@{/web/delete/{id}(id=${emp.ID})}"
											onclick="return confirm('Are you sure ?');"
											class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</form>
					<div class="col-md-10">
						<h2 th:case="null"></h2>
						<div th:case="*">
							<table id="datatable"
								class="table table-striped table-responsive-md">
								<thead>
									<tr>
										<th>ID</th>
										<th>Height</th>
										<th>Weight</th>
										<th>EnglishName</th>
										<th>ChineseName</th>
										<th>Ext</th>
										<th>Email</th>
										<th>BMI</th>
										<th>Edit</th>
										<th>Delete</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="emp:${employee}">
										<td th:text="${emp.ID}"></td>
										<td th:text="${emp.height}"></td>
										<td th:text="${emp.weight}"></td>
										<td th:text="${emp.englishName}"></td>
										<td th:text="${emp.chineseName}"></td>
										<td th:text="${emp.Ext}"></td>
										<td th:text="${emp.Email}"></td>
										<td th:text="${emp.BMI}"></td>
										<td><a th:href="@{/web/edit/{id}(id=${emp.ID})}"
											class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
										<td><a th:href="@{/web/delete/{id}(id=${emp.ID})}"
											onclick="return confirm('Are you sure ?');"
											class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			$(document).ready(function() {
				$('#datatable').DataTable({
					'ordering' : true,
				});
			});
		</script>
		<div th:replace="fragments/footer :: footer" /></div>
</body>
</html>